
<section class="main-header">
<h1>Create</h1>
</section>

<%= form_with(model: @blog, local: true, url: choose_new_or_edit) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h3><%= @blog.errors.count %>件のエラーがあります。</h3>
      <ul>
        <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <ul class="row">
  <div class="blog_title">
    <li class="col-xs-1, col-md-12"><%= form.label :title %></li>
    <li class="col-xs-1, col-md-12"><%= form.text_field :title %></li>
  </div>
  <div class="blog_content">
    <li class="col-xs-1, col-md-12"><%= form.label :content %></li>
    <li class="col-xs-1, col-md-12"><%= form.text_field :content %></li>
  </div>

  <br>

  <div class="field">
    <%= form.label :image %>
    <%= image_tag(@blog.image.url) if @blog.image.url %>
    <%= form.file_field :image %>
  </div>

    <br>
  <div>
    <input class="btn btn-primary" type="submit" value="Create">
  </div>
</div>
<% end %>
<br>
<%= link_to "Back", blogs_path %>
