<section class="main-header">
  <h1>Contacts</h1>
</section>

<%= notice %>
<%= form_with(model: @contact, local: true) do |form| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h3><%= @contact.errors.count %>件のエラーがあります...</h3>
      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <%end%>
      </ul>
    </div>
  <% end %>
<div class="contacts">
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <br>
   <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <br>
  <div>
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <br>
  <input class="btn btn-primary" type="submit" value="submit">
<%end%>
</div>
