<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <header>
      <ul>
        <li><%= link_to 'Blog', blogs_path %></li>
        <li><%= link_to 'Top', :controller => "blogs", :action => "index" %></li>
        <li><%= link_to 'List', :controller => "blogs", :action => "list" %></li>
        <li><%= link_to 'Create', :controller => "blogs", :action => "new" %></li>
        <li><%= link_to 'Contacts', :controller => "contacts", :action => "new" %></li>
      </ul>
    </header>

    <%= yield %>


    <footer>
      <p>株式会社mooon</p>
      <p>©️ All Copyrights mooon Corp.</p>
    </footer>

  </body>
</html>
