<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <header>
      <ul>
        <li><a href="#">Blog</a></li>
        <li><%= link_to 'top', blogs_path(blog.id) %></li>
        <li><%= link_to 'list', list_blogs_path(blog.id) %></li>
        <li><%= link_to 'create', new_blog_path(blog.id) %></li>
        <li><%= link_to 'contacts', new_contact_path(blog.id) %></li>
      </ul>
    </header>

    <%= yield %>


    <footer>
      <p>株式会社mooon</p>
      <p>©️ All Copyrights mooon Corp.</p>
    </footer>

  </body>
</html>
